<h1>Movies</h1>
<div class="row-flex row-flex-wrap">
  <% @movies.each do |movie| %>

      <div class="col-md-4 img-thumbnail" >
        <div class="col-sm-12" style="word-wrap: break-word; ">
          <div class="col-sm-12">
              <h2><%= link_to movie.title, movie_path(movie) %></h2>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
  <% end %>
</div>
